 @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,500&display=swap');


html , body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto' , sans-serif;

}
.bg-color{
    background-color: whitesmoke;
}

.button{
    width: 66px;
    padding: 18px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
}

.row{
    margin: 8px 0;
}

.row input{
    width: 291px;
    font-size: 20PX;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;
}
.button:hover{
    background-color: grey;
}
.container{
   border: 2px solid black;
   border-radius: 14px;
}